body {
    font-family: 'Nunito Sans', sans-serif;
    height: 5000px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.fade-in-1 {
    animation-name: fadein;
    animation-duration: 2s;
}
.fade-in-2 {
    animation-name: fadein;
    animation-duration: 2s
}
.fade-in-3 {
    animation-name: fadein;
    animation-duration: 2s
}
.fade-in-4 {
    animation-name: fadein;
    animation-duration: 2s
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.nav-right p {
    margin: 0 5px;
}

.logo-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    z-index: 2000;
    transition: top 1s, width 1s;
}

.logo-big {
    /* position: absolute; */
    top: 200px;
    width: 622px;
    margin-bottom: 20px;
}

.logo-small {
    top: 0;
    position: fixed;
    width: 200px;
}

.logo-text {
    transition: opacity .5s;
}

.show-logo-text {
    opacity: 1;
}

.hide-logo-text {
    opacity: 0;
}

.mockup {
    width: 100%
}

.jumbotron {
    background-image: url("/assets/ux.jpg");
    height: 500px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}